.item button {
  padding: 5px 30px;
  outline: none;
  background-color: red;
  cursor: pointer;
  border-radius: 5px;
  font-size: 12px;
  display: block;
  margin: 0 auto;
  transition: 0.2s all;
}
.item button:hover {
  transform: scale(1.04);
}