/* CARDS*/
.card{
  padding: 1rem 0;
  width: 70%;
}

.card:hover {
  transform: scale(1.14);
  transition: transform ease 0.8ms;
}
.card-body {
  a {
  font-size: 10px;
  font-family: "Times New Roman", Times, serif;
}
h5 {
  font-family: $fuentetitlle;
  color: whitesmoke;
}
} 
