.container-form h2 {
  margin-bottom: 15px;
  font-size: 35px;
}

.container-form p {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 30px;
}
.container-form a {
  font-size: 17px;
  display: inline-block;
  text-decoration: none;
  width: 100%;
  margin-bottom: 15px;
  color: white;
  font-weight: 700;
}
.container-form a i {
  color: rgb(255, 0, 0);
  margin-right: 10px;
}
.container-form form .campo {
  width: 100%;
  padding: 15px 10px;
  font-size: 16px;
  border: 1px solid #dbdbdb;
  margin-bottom: 20px;
  border-radius: 3px;
  outline: 0px;
  color: black;
}
.container-form form textarea {
  width: 100%;
  min-height: 140px;
  padding: 15px 10px;
  font-size: 16px;
  border: 1px solid #dbdbdb;
  margin-bottom: 20px;
  border-radius: 3px;
  outline: 0px;
  color: black;
}
.container-form .btn-enviar {
  padding: 15px;
  font-size: 16px;
  border: none;
  outline: 0px;
  background: rgb(255, 8, 0);
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: all 300ms ease;
}
.container-form .btn-enviar:hover {
  background: #e39403;
}