/*IMAGES */
#productos img {
  width: 90%;
  margin: 5px;
}
.item img {
  width: 100%;
  height: 550px;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
  border-radius: 10px;
}
.item img:hover {
  transform: scale(1.04);
  transition: transform ease 0.8ms;
}