h1 {
  font-size: 45px;
  font-family: $fuentetitlle;
  color: $titlecolor;
  margin: auto;
}

.item h4 {
  padding: 5px;
  text-align: center;
}

.productos h2 {
  font-family: $fuentetitlle;
  color: $titlecolor;
}
