/* media queries */

@media (max-width: 1024px) {
  .container-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
@media (max-width: 768px) {
  .cartasContainer {
    display: flex;
    flex-direction: column;
    padding: 4em;
  }
}

@media (max-width: 768px) {
  .historia {
    display: flex;
    flex-direction: column;
    padding: 4em;
  }
}

@media (max-width: 768px) {
  .contenedor-acordeon {
    display: flex;
    flex-direction: column;
    padding: 4em;
  }
}

@media (max-width: 768px) {
  .row {
    display: grid;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .col {
    width: auto;
  }
}

@media (max-width: 768px) {
  .redes_sociales{
      width: 60%;
  }
  }

/*INDEX SECCION NOSOTROS*/

@media screen and (max-width: 856px){
.quienes-text-div {
    display: flex;
    flex-direction: column;}
    div {
      display: block;
  }
}

@media screen and (max-width: 856px){
.quienes-innerText {
    width: 100%;
    padding: 5px;
    order: 20;
    margin: 40px 0;
}
h3 {
  padding-top: 0;
}
}


@media screen and (max-width: 856px){
#quienes-innerImg-1 {
    width: 100%;
}}


@media screen and (max-width: 856px){
#quienes-innerImg-2 {
    width: 100%;
}}



