/*Reset CSS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: white;
}

/*BODY*/
.body {
  background-color: black;
  display: grid;
  min-height: 100vh;
}

/*header*/
header {
  margin-bottom: 8px;
  margin-top: 8px;
  background-color: #171717;
}

/*Elementos con layout */
/*FORMULARIO CONTACTO*/
.form_main {
  display: flex;
  justify-content: center;
  width: 100%;
}

/* DIV QUIENES SOMOS */
.historia {
  display: flex;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 30px;
}

.productos {
  display: flex;
  justify-content: center;
}

/*FOOTER*/
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: white;
  padding: 5px;
}

.leftside {
  background-color: red;
}

.rightside {
  background-color: blue;
}

#col1 {
  width: 30%;
}

#col2 {
  width: 70%;
}

#titulo {
  display: grid;
  margin-top: 40px;
  margin-bottom: 50px;
  justify-content: center;
}

.container-form {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 100vh;
  grid-column-gap: 30px;
  grid-row-gap: 10px;
  margin-top: 150px;
}

/*Variables*/
/*Componentes*/
/*INDEX SECCION NOSOTROS */
.quienes-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 10vh;
}

.quienes-text-div {
  width: 99%;
}
.quienes-text-div div {
  display: inline-block;
}

.quienes-text-div1 {
  width: 90%;
  margin-left: 12px;
}
.quienes-text-div1 div {
  display: inline-block;
}

.quienes-innerText {
  width: 30%;
  padding: 5px;
}
.quienes-innerText h3 {
  color: rgba(196, 78, 78, 0.966);
  margin-bottom: 3%;
  font-size: 45px;
  padding-top: 20%;
  font-family: "Courier New", Courier, monospace;
}
.quienes-innerText p {
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
  line-height: 50px;
  margin: 3%;
}

.btn-tienda {
  margin-top: 50px;
}
.btn-tienda a {
  text-decoration: none;
  border: 3px solid rgba(196, 78, 78, 0.966);
  border-radius: 100px;
  color: white;
  background-color: rgba(196, 78, 78, 0.966);
  padding: 20px;
  font-family: "Times New Roman", Times, serif;
}
.btn-tienda a:hover {
  color: black;
}

#quienes-innerImg-1 {
  width: 50%;
  float: right;
}
#quienes-innerImg-1 img {
  width: 50%;
}

#quienes-innerImg-2 {
  width: 60%;
  float: left;
}

img,
svg {
  vertical-align: middle;
}

/*SECCION PRODUCTOS */
.wrap {
  max-width: 1100px;
  width: 90%;
  margin: auto;
}

/*Titulo productos*/
.wrap > h1 {
  color: rgba(196, 78, 78, 0.966);
  font-weight: 400;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 15px 0px;
  font-family: "Courier New", Courier, monospace;
}

.wrap > h1:after {
  content: "";
  width: 100%;
  height: 1px;
  background: #C7C7C7;
  margin: 20px 0;
}

/*Contenedor principal*/
.store-wrapper {
  display: flex;
  flex-wrap: wrap;
}

/*Menu vertical*/
.category_list {
  display: flex;
  flex-direction: column;
  width: 18%;
}

.category_list .category_item {
  display: block;
  width: 90%;
  padding: 15px 0;
  margin-bottom: 20px;
  background: rgba(196, 78, 78, 0.966);
  text-align: center;
  text-decoration: none;
  color: #fff;
  border-radius: 10px;
}

.category_list .ct_item-active {
  background: #2D3E50;
}

.category_item:hover {
  color: black;
  background-color: #2D3E50;
}

/* PRODUCTOS ============*/
.products-list {
  width: 82%;
  display: flex;
  flex-wrap: wrap;
}

.products-list .product-item {
  width: 22%;
  margin-left: 3%;
  margin-bottom: 25px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.22);
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
  transition: all 0.4s;
}

.products-list .product-item img {
  width: 100%;
}

.products-list .product-item a {
  display: block;
  width: 100%;
  padding: 8px 0;
  background: #2D3E50;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

/*TEXTO SECCION QUIENES SOMOS*/
.empresa_p p {
  font-size: 19px;
  line-height: 45px;
  width: 65%;
  margin: auto;
}

/*ACORDEON CONTENEDOR*/
.contenedor-acordeon {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  margin-top: 80px;
}
.contenedor-acordeon h2 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 35px;
  color: rgba(196, 78, 78, 0.966);
  font-family: "Courier New", Courier, monospace;
}

.acordeon {
  background: #fff;
}
.acordeon p {
  color: black;
}
.acordeon label {
  display: block;
  padding: 20px;
  font-size: 20px;
  background: #1c1c1c;
  color: #fff;
  cursor: pointer;
  margin-bottom: 2px;
  transition: all 300ms ease;
}
.acordeon label:hover {
  background: #2e2e2e;
}
.acordeon .contenido-acordeon {
  padding: 0px;
  margin: 0px 20px;
  max-height: 0px;
  overflow: hidden;
  transition: all 300ms ease;
}

.btn-acordeon:checked ~ .contenido-acordeon {
  max-height: 600px;
  padding: 15px 0px;
}

.btn-acordeon {
  display: none;
}

/*CARROUSEL*/
.carousel-item img {
  width: 300px;
  height: 750px;
  border-radius: 2%;
}

/*CONTENEDOR FORM*/
.container-form h2 {
  margin-bottom: 15px;
  font-size: 35px;
}
.container-form p {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 30px;
}
.container-form a {
  font-size: 17px;
  display: inline-block;
  text-decoration: none;
  width: 100%;
  margin-bottom: 15px;
  color: white;
  font-weight: 700;
}
.container-form a i {
  color: rgb(255, 0, 0);
  margin-right: 10px;
}
.container-form form .campo {
  width: 100%;
  padding: 15px 10px;
  font-size: 16px;
  border: 1px solid #dbdbdb;
  margin-bottom: 20px;
  border-radius: 3px;
  outline: 0px;
  color: black;
}
.container-form form textarea {
  width: 100%;
  min-height: 140px;
  padding: 15px 10px;
  font-size: 16px;
  border: 1px solid #dbdbdb;
  margin-bottom: 20px;
  border-radius: 3px;
  outline: 0px;
  color: black;
}
.container-form .btn-enviar {
  padding: 15px;
  font-size: 16px;
  border: none;
  outline: 0px;
  background: rgb(255, 8, 0);
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: all 300ms ease;
}
.container-form .btn-enviar:hover {
  background: #e39403;
}

/*IMAGES */
#productos img {
  width: 90%;
  margin: 5px;
}

.item img {
  width: 100%;
  height: 550px;
  -o-object-fit: cover;
  object-fit: cover;
  cursor: pointer;
  border-radius: 10px;
}

.item img:hover {
  transform: scale(1.04);
  transition: transform ease 0.8ms;
}

/*NAVBAR*/
nav {
  display: flex;
  align-items: center;
}

.navbar {
  background-color: #171717;
}
.navbar a {
  color: white;
}

.navbar-brand {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}
.navbar-brand img {
  display: block;
  width: 200px;
  height: auto;
}

.navbar-nav li a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

/*IMG NAVBAR LIEZENSHOES*/
.liezen {
  margin-right: 30px;
}

/*TITTLES*/
/*TITTLES PRINCIPALES DE CADA HTML*/
h1 {
  font-size: 50px;
  font-family: "Courier New", Courier, monospace;
  color: rgba(196, 78, 78, 0.966);
  margin: auto;
}

/*TITTLE IMG INDEX*/
.item h4 {
  padding: 5px;
  text-align: center;
}

/*TITTLE PRODUCTOS DESTACADOS SECCION PRODUCTOS*/
.productos h2 {
  font-family: "Courier New", Courier, monospace;
  color: rgba(196, 78, 78, 0.966);
  font-size: 40px;
  text-align: center;
}

/*TITTLE PAGINA PRINCIPAL*/
#titulo h1 {
  font-size: 50px;
  font-family: "Courier New", Courier, monospace;
}

/* footer */
.footer-content p {
  color: white;
}
.footer-content img {
  width: 80px;
  height: 80px;
  overflow-clip-margin: content-box;
  overflow: clip;
}

footer .footer-content {
  width: auto;
  height: 80px;
  margin-bottom: 1rem;
}

.redes_sociales {
  margin-top: 20px;
}
.redes_sociales a {
  margin: 15px;
}

/* media queries*/
/* media queries */
@media (max-width: 1024px) {
  .container-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
@media (max-width: 768px) {
  .cartasContainer {
    display: flex;
    flex-direction: column;
    padding: 4em;
  }
}
@media (max-width: 768px) {
  .title h1 {
    font-size: 35px;
    margin-left: 40px;
  }
}
@media (max-width: 768px) {
  .historia {
    display: flex;
    flex-direction: column;
    padding: 4em;
  }
}
@media (max-width: 768px) {
  .contenedor-acordeon {
    display: flex;
    flex-direction: column;
    padding: 4em;
  }
}
@media (max-width: 768px) {
  .row {
    display: grid;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .col {
    width: auto;
  }
}
@media (max-width: 768px) {
  .productos {
    display: flex;
    justify-content: center;
    margin-left: 5px;
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .redes_sociales {
    width: 60%;
  }
}
/*INDEX SECCION NOSOTROS*/
@media screen and (max-width: 856px) {
  .quienes-text-div {
    display: flex;
    flex-direction: column;
  }
  div {
    display: block;
  }
}
@media screen and (max-width: 856px) {
  .quienes-innerText {
    width: 100%;
    padding: 5px;
    order: 20;
    margin: 40px 0;
  }
  h3 {
    padding-top: 0;
  }
}
@media screen and (max-width: 856px) {
  #quienes-innerImg-1 {
    width: 100%;
  }
}
@media screen and (max-width: 856px) {
  #quienes-innerImg-2 {
    width: 100%;
  }
}
/* RESPONSIVE PRODUCTOS */
@media screen and (max-width: 1100px) {
  .products-list .product-item {
    width: 30.3%;
  }
}
@media screen and (max-width: 900px) {
  .category_list,
  .products-list {
    width: 100%;
  }
  .category_list {
    flex-direction: row;
    justify-content: space-between;
  }
  .category_list .category_item {
    align-self: flex-start;
    width: 15%;
    font-size: 14px;
  }
  .products-list .product-item {
    margin-left: 4.5%;
  }
  .products-list .product-item:nth-child(3n+1) {
    margin-left: 0px;
  }
}
@media screen and (max-width: 700px) {
  .category_list {
    flex-direction: column;
  }
  .category_list .category_item {
    width: 100%;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 600px) {
  .products-list .product-item {
    width: 47.5%;
  }
  .products-list .product-item:nth-child(3n+1) {
    margin-left: 4.5%;
  }
  .products-list .product-item:nth-child(2n+1) {
    margin-left: 0px;
  }
}
@media screen and (max-width: 350px) {
  .products-list .product_item {
    width: 100%;
    margin-left: 0px;
  }
}/*# sourceMappingURL=main.css.map */